$gradient: linear-gradient(97.31deg, #CF29DD 3.73%, #5E5EEC 44.98%, #3687FF 100%);
$BG: #131925;
$BGoverlay: rgba(255, 255, 255, 0.16);
$BGrotate: radial-gradient(50.95% 66.6% at 84.98% -15.07%, #5A00EE 0%, rgba(55, 0, 255, 0) 100%), radial-gradient(48.73% 65.98% at 12.9% 103.43%, #9CFFAC 0%, rgba(156, 255, 172, 0) 100%), radial-gradient(145.48% 187.28% at 10.46% 15.14%, #C853FF 0.91%, #8253E9 55.7%), rgba(255, 255, 255, 0.05);

$color1: #FFFFFF;
$color2: #000000;

$color3: #505050;
$color4: #EDEDED;
$color5: #000000;
$color6: #C4C4C4;